*{margin: 0;
margin-top: 0px;
padding-top: 0px;
box-sizing: border-box;
font-family: 'Roboto-light', sans-serif;}
.hero{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));*/
    position: relative;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
width: 150px;
height: 75px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 8px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 17;

}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: auto;

}
.sub-video{    
    display: block;
    position: absolute;
    top: 0 ;
    z-index: -1;
    height: auto;
    width: 100vw;
}

.column {
    display: block;
    float: left;
    width: 33.33333%;
    margin: 0;

 }

  .row{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0 ;
    z-index: -1;
  }
  .work_img{
    width: 33.33vw;
    height: 100vh;
    object-fit: cover;
  }
  .team_img{
    width: 33.33vw;
    height: 100vh;
    object-fit: cover;
  }
  .col-lg-2{
    display: block;
    clear: both;
  }
  .text_body{
    position: relative;
    display: flex;
    margin-top: 50px;
    z-index: 1;
  }
  .descraption{
    margin-right: 5%;
  }
  .title_project{
    margin-left: 2%;
    margin-right: 30%;
    margin-top: -1.5%;
    width: 100%;
  }
  body{
    overflow: hidden;
  }
  .video_frame{
    width: 100vw;
    height: 70vh;
    border: #fff;
    overflow: hidden;
  }
  a1{
    clear: both;
    display: block;
    font-size: 35px;
    line-height: 70px;
    in-inline-size: max-content;
  }
  p{
    line-height: 20px;
  }
  p1{
    font-size: 12px;
  }
